.page-size{
    background-image: linear-gradient(rgba(138, 210, 219, 0.856), rgb(240, 240, 171));
    height: 100vh;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    padding: 10% 30% 20%;

}
.body-login{
    background-color: gray;
}
.btn-desing-all{
    background-image: linear-gradient(to right, rgb(181, 67, 216), rgba(153, 209, 241, 0.774));
    border: none;
    border-radius: 20px;
}
.btn-desing-all:hover{
    background-image: linear-gradient(to right, rgb(132, 58, 155), rgba(67, 137, 179, 0.774));
}
    @media only screen and (max-width: 640px){
    .page-size{
        padding-top: 20%;
    }
   
}