.about-header{
    margin-top: 50px;
    background-color: gray;
    padding: 70px;
    color:honeydew;
}
.about-aim{
    padding: 70px;
    margin: 0 300px;
    color:rgb(77, 80, 77);
    font-size: 20px;
    text-align: justify;
}
.about-doctor{
    text-align: left;
    padding:20px 300px 100px 300px;
    text-align: justify;
    background-color: lightgrey;
}
